<div class="text-center">
  <h1>
    <!-- <img src="assets/img/ngx-echarts-logo.png" alt="version" width="40px"> -->
    RF Tools - IQ Simulator
  </h1>
  <p>
    <a href="https://github.com/clever-design/iqsim-ngx" target="blank" nz-button nzType="primary" class="mr-2"><i nz-icon
        nzType="github" nzTheme="outline"></i> GitHub</a>
  </p>
</div>

<div class="container">
  <!-- <div nz-row nzGutter="16"> -->
  <!--   <div nz-col nzSpan="12"> -->
  <!--     <markdown ngPreserveWhitespaces> -->
  <!--       ## Install -->
  <!--       ```bash -->
  <!--       # if you use npm -->
  <!--       npm install echarts -S -->
  <!--       npm install ngx-echarts -S -->

  <!--       # or if you use yarn -->
  <!--       yarn add echarts -->
  <!--       yarn add ngx-echarts -->
  <!--       ``` -->
  <!--     </markdown> -->
  <!--   </div> -->
  <!--   <div nz-col nzSpan="12"> -->
  <!--     <markdown ngPreserveWhitespaces> -->
  <!--       ## Import -->
  <!--       ```typescript -->
  <!--       import {{'{'}} NgxEchartsModule } from 'ngx-echarts'; -->

  <!--       @NgModule({{'{'}} -->
  <!--         imports: [ -->
  <!--           ..., -->
  <!--           NgxEchartsModule.forRoot({{'{'}} -->
  <!--             echarts: () => import('echarts') -->
  <!--           }) -->
  <!--         ], -->
  <!--       }) -->
  <!--       export class AppModule {{'{'}} } -->
  <!--       ``` -->
  <!--     </markdown> -->
  <!--   </div> -->
  <!-- </div> -->
</div>
